In [165]:
import os
import sys
import pandas as pd

from iexfinance.stocks import Stock 
from iexfinance.refdata import get_symbols

conf_dir = os.path.join(os.getcwd(), '..', 'conf')
sys.path.append(conf_dir)

In [166]:
from local import Secrets

In [167]:
key = Secrets.key

In [168]:
public_banks_df = pd.read_csv('../references/banks_tickers.txt', sep='\t',  skiprows = 1, names = ['Index', 'Name', 'Ticker'])
public_banks_df.head()

   Index                      Name Ticker
0      1       Ally Financial Inc.   ALLY
1      2      Associated Banc-Corp    ASB
2      3      Axos Financial, Inc.     AX
3      4  Banc of California, Inc.   BANC
4      5         BancorpSouth Bank    BXS

In [181]:
#Fetch all stocks objects via APIs using token once
stock_list = []
for i in range(len(public_banks_df)):
    ticker = public_banks_df.Ticker.iloc[i]
    stock = Stock(ticker, output_format = 'pandas', token = key)
    stock_list.append(stock)
len(stock_list)

52

In [183]:
print(stock.get_company_name())

                                         WAL
companyName  Western Alliance Bancorporation

In [164]:
#Loop through the stock objects list and pull all balance sheet entries, transpose and append to the dataframe:

In [68]:
bank2 = Stock('JPM', output_format = 'pandas', token = key)

In [6]:
jpm = Stock('JPM', output_format = 'pandas', token = key)
jpm.get_balance_sheet()

                                   JPM
                            2019-03-31
accountsPayable                   None
capitalSurplus             88170000000
commonStock                 4105000000
currentAssets            1207628000000
currentCash                       None
currentLongTermDebt               None
goodwill                   47474000000
intangibleAssets             737000000
inventory                         None
longTermDebt              325410000000
longTermInvestments       289343000000
minorityInterest                     0
netTangibleAssets         212363000000
otherAssets               115654000000
otherCurrentAssets                None
otherCurrentLiabilities  1579813000000
otherLiabilities          364518000000
propertyPlantEquipment     32432000000
receivables                       None
reportDate                  2019-03-31
retainedEarnings          205437000000
shareholderEquity         259837000000
shortTermInvestments              None
totalAssets              2737188000000
totalCurrentLiabilities  1873795000000
totalLiabilities         2477351000000
treasuryStock              64289000000

In [7]:
jpm.get_income_statement()

                                JPM
                         2019-03-31
costOfRevenue                  None
ebit                           None
grossProfit                    None
incomeTax                2054000000
interestIncome           2919000000
minorityInterest                  0
netIncome                9127000000
netIncomeBasic           8753000000
operatingExpense               None
operatingIncome                None
otherIncomeExpenseNet          None
pretaxIncome            11233000000
reportDate               2019-03-31
researchAndDevelopment         None
sellingGeneralAndAdmin         None
totalRevenue                   None